target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Node / Playwright ###
node_modules/
captures_maps/

### Generated Runtime Images ###
territory_mask_detected.png
roads_detected.png
clipped.png
refined_mask.png
src/main/resources/sample/
src/main/resources/Territoire CA01/
src/main/resources/Territoire CA02/
maps/python/
src/main/resources/sample 02/
